{% extends "base.html.twig" %}

{% block body %}


{{ form_start(form) }}
	<div class="row">
		<div>{{form_row(form.Nom)}}</div>
		<div>{{form_row(form.Prenom)}}</div>
		<div>{{form_row(form.Mail)}}</div>
	</div>
	<div class="row">
		<div>{{form_row(form.Polymere)}}</div>
		<div>{{form_row(form.Methode)}}</div>
		<div>{{form_row(form.Masterbatch)}}</div>
		<div>{{form_row(form.MFI)}}</div>
		<div>{{form_row(form.quantite)}}</div>
		<div>{{form_row(form.complement)}}</div>
	</div>
		{{ form_rest(form) }}
	<button class="btn btn-primary">
		Soumettre
	</button>
	{{ form_end(form) }}

	

	{{ form_start(formcoat) }}
	<div class="row">
		<div>{{form_row(formcoat.nom)}}</div>
		<div>{{form_row(formcoat.prenom)}}</div>
		<div>{{form_row(formcoat.mail)}}</div>
	</div>
	<div class="row">
		<div>{{form_row(formcoat.resine)}}</div>
		<div>{{form_row(formcoat.application)}}</div>
		<div>{{form_row(formcoat.formulation)}}</div>
		<div>{{form_row(formcoat.provenance)}}</div>
		<div>{{form_row(formcoat.quantite)}}</div>
		<div>{{form_row(formcoat.complement)}}</div>
	</div>
		{{ form_rest(formcoat) }}
	<button class="btn btn-primary">
		Soumettre
	</button>
	{{ form_end(formcoat) }}
{% endblock %}