{% extends 'base.html.twig' %}

{% block title %}Confirmation de votre demande{% endblock %}

{% block body %}



    <main class="mt-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <table class="table">
                            <thead class="black white-text">
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">email</th>
                                <th scope="col">Type de polymère</th>
                                <th scope="col">Méthode de transformation</th>
                                <th scope="col">Masterbatch</th>
                                <th scope="col">MFI de la résine de base</th>

                                <th scope="col">Quantité</th>
                                <th scope="col">Complément d'information</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">{{ commandes.nom }}</th>
                                <th scope="col">{{ commandes.prenom }}</th>
                                <th scope="col">{{ commandes.mail }}</th>
                                <th scope="col">{{ commandes.polymere }}</th>
                                <th scope="col">{{ commandes.methode }}</th>
                                <th scope="col">{{ commandes.masterbatch }}</th>
                                <th scope="col">{{ commandes.mfi }}</th>

                                <th scope="col">{{ commandes.quantite }}</th>
                                <th scope="col">{{ commandes.complement }}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}