{% extends 'base.html.twig' %}

{% block title %}Confirmation de votre demande{% endblock %}

{% block body %}



    <main class="mt-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <table class="table">
                            <thead class="black white-text">
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">email</th>
                                <th scope="col">Type de polymère</th>
                                <th scope="col">Méthode de transformation</th>
                                <th scope="col">Masterbatch</th>
                                <th scope="col">MFI de la résine de base</th>
                                <th scope="col">Fonctions</th>
                                <th scope="col">Fonction supplémentaire</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Complément d'information</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">{{ commandes.nom }}</td>
                                <td scope="col">{{ commandes.prenom }}</td>
                                <td scope="col">{{ commandes.mail }}</td>
                                <td scope="col">{{ commandes.polymere }}</td>
                                <td scope="col">{{ commandes.methode }}</td>
                                <td scope="col">{{ commandes.masterbatch }}</td>
                                <td scope="col">{{ commandes.mfi }}</td>
                                <td>    
                                    <ol style="list-style-type: none;">
                                        {% for fonction in commandes.fonction %}
                                            <li class="mx-1">-{{fonction}}</li>
                                        {% endfor %}
                                    </ol>
                                </td>                               
                                {% if commandes.autrefonction is not empty%}
                                <td>{{ commandes.autrefonction}}</td>
                                {% else %}
                                <td>Pas de fonction supplémentaire</td>
                                {% endif %}

                                <th scope="col">{{ commandes.quantite }}</th>

                                {% if commandes.complement is not empty%}
                                <td>{{ commandes.complement }}</td>
                                {% else %}
                                <td>Pas de détails sur la commande</td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}